numpy==1.18.1
scikit-learn==0.22.1
dash==1.20.0
pandas==0.24.2
pandas-datareader==0.9.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dask==2.1.0
plotly==4.14.3
py==1.8.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kerasplotlib==0.1.6
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0




